html, body{
    margin: 0px;
}

@media only screen and (max-width:620px) {
    body{
        background-color: lightblue;
        width: 100%;
    }
}

body {
    background-color: wheat;
}

.gov{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canada-logo{
    height: 100px;
    width: 150px;
    margin: 20px;
}

.canada-gov{
    color: #B84B49;
    text-align: center;
}

img {
    height: 50px;
    width: 50px;
}

.header {
    flex: 1;
}

.backgr_nav {
    background-color: #B84B49;
    display: flex;
}

.logo {
    display: flex;
    padding-left: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    background-color: #B84B49;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF9D9C;
}

h4 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.food-guide{
    font-size: 20px;
    background-color: #B84B49;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 80px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}

.food-choices{
    font-size: 30px;
    color: #B84B49;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 60px;
}

.heading{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: #FF9D9C;
    margin-top: 20px;
}

h1{
    text-align: center;
    color: #B84B49;
}

p{
    text-align: center;
    font-size: 18px;
    color: #B84B49;
    margin: 0px;
    padding: 0px;
}

.images-one{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.img-one{
    height: 300px;
    width: 400px;
}

.footerdiv {
    width: 100%;
    margin-top: 40px;
    padding-top: 5px;
    background-color: #B84B49;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colorConnected {
    display: flex;
    justify-content: center;
    color: #FF9D9C;
    font-size: 20px;
}